* {
  font-family: "Commit Mono Nerd Font", monospace;
  font-size: 12px;
}

/* Background */
#waybar {
  background: rgba(81, 102, 115, 0.75);
  border: none;
}

/* Workspaces */
#workspaces {
  margin: 0px 0px 0px 0px;
}

#workspaces button {
  padding: 2px 4px;
  color: #b2b2b2;
  font-weight: bold;
  border: none;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  color: #ffffff;
}

#workspaces button.focused {
  color: #fff;
}

#workspaces button.focused:hover {
  color: #ffffff;
}

#workspaces button.urgent {
  color: #ffffff;
  background-color: #e27878;
}

/* Modules */
#language,
#window,
#custom-tasks,
#pulseaudio,
#cpu,
#memory,
#clock {
  color: #fff;
  border: none;
}

#language {
  margin: 0 12px;
}

#custom-tasks,
#pulseaudio,
#cpu,
#memory,
#clock {
  margin: 0 8px;
}
